#about {
  height: 100vh;
  position: relative;
  margin: 0;
  h1 {
    font-family: "Nanum Myeongjo", serif;
    letter-spacing: -4px;
    font-weight: 50;
    color: #bf0603;
    font-size: 15vh;
    margin-bottom: 1rem;
    text-align: center;
  }
  h2 {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translate(-50%, 0%);
    font-family: "Nanum Myeongjo", serif;
    letter-spacing: -4px;
    font-weight: 50;
    color: #bf0603;
    font-size: 8vh;
    text-align: center;
    cursor: pointer;
    &:after, &:before {
        text-align : center;
        margin: 0 1rem;
        content: "—";
        bottom: 3rem;
    left: 50%;
    transform: translate(-50%, 0%);
    }
  }
  .center-aligned {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
    line-height: 1.2rem;
    text-align: justify;
    font-size: 14px;
    .mb-5 {
      margin-bottom: 3rem;
    }
    .d-flex {
      div:first-child {
        margin-right: 2rem;
      }
    }
  }
}
