.landing {
  height: 200vh;
  background-color: #fff;
  .containers {
    margin: 0 auto;
    position: relative;
    .landing-logo {
      position: fixed;
      left: 3vw;
      bottom: 15vh;
      -webkit-writing-mode: vertical-rl;
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      font-size: 12px;
      z-index: 1;
      color: #fff;
      mix-blend-mode: difference;
    }
    .text {
      color: #fff;
      letter-spacing: -1px;
      font-weight: 50;
      position: fixed;
      z-index: 1;
      text-align: center;
      mix-blend-mode: difference;
      font-family: "Nanum Myeongjo", serif;
      font-size: 20vh;
      -webkit-writing-mode: vertical-rl;
      writing-mode: vertical-rl;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(180deg);
      cursor: default;
    }
    .landing-about {
      position: fixed;
      right: 3vw;
      bottom: 15vh;
      text-align: right;
      font-size: 12px;
      color: #fff;
      mix-blend-mode: difference;
      z-index: 1;
      width: 20vw;
      p {
        line-height: 1.5;
      }
    }
  }
  .white {
    position: relative;
    background: #fff;
    height: 100vh;
  }
  .black {
    background: #000;
    position: relative;
    height: 100vh;
    width: 100%;
  }
}

#projects {
  h2{
    color: #bf0603;
    font-size: 4.5vw;
    margin-left: 8.33333%;
    font-weight: 500;
    font-family: "Nanum Myeongjo", serif;
    margin-bottom: 4rem;
    margin-top: 2rem;
  }
  .p-heading {
    margin-left: 8.33333%;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.85rem;
  }
  .most-recent {
    width: 100%;
    display: grid;
    justify-content: center;
    overflow: hidden;
    .grid {
      grid-area: 1 / 1 / 2 / 2;
      width: 76%;
      height: 100vh;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(13, 1fr);
      grid-template-rows: repeat(8, 1fr);
      grid-gap: 1vw;
      // position: relative;

      .grid::after {
        content: "";
        height: 6rem;
        width: 1px;
        background: #fff;
        position: absolute;
        bottom: 2rem;
        left: 50%;
      }
      .grid__item {
        background-size: cover;
        background-position: center;
        opacity: 0;
        -webkit-filter: brightness(0.7);
        filter: brightness(0.7);
        object-fit: cover;
        img {
          width: 100%;
          height: auto;
        }
      }

      .grid__item--a {
        grid-area: 2 / 1 / 5 / 3;
      }

      .grid__item--b {
        grid-area: 6 / 2 / 9 / 5;
      }

      .grid__item--c {
        grid-area: 3 / 4 / 7 / 7;
      }

      .grid__item--d {
        grid-area: 1 / 8 / 4 / 10;
      }

      .grid__item--e {
        grid-area: 4 / 10 / 7 / 14;
      }

      .grid__item--f {
        grid-area: 6 / 9 / 9 / 12;
      }
    }
    .project-title {
      grid-area: 1 / 1 / 2 / 2;
      display: flex;
      justify-content: space-between;
      align-self: center;
      justify-self: center;
      position: relative;
      flex-direction: column;
      text-align: center;
      opacity: 0;
      h1 {
        color: #bf0603;
        font-size: 9vw;
        // font-weight: 50;
        font-weight: 500;
        font-family: "Nanum Myeongjo", serif;
      }
    }
  }
  .other-projects {
    margin-top: 4rem;
    .project-card {
      height: 60vh;
      position: relative;
      cursor: pointer;
      margin: 1.5rem 0rem;
      .project-mask {
        background-color: #000;
        height: 100%;
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        flex-direction: column;
        padding: 2rem 4rem;
        color: #fff;
        position: absolute;
        z-index: 60;
        top: 0;
        left: 0;
      }
      .project-image {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 40;
        top: 0;
        left: 0;
        opacity: 0;
      }
      p {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 0.7rem;
      }
      h1 {
        font-size: 3vw;
        font-weight: 500;
        font-family: "Nanum Myeongjo", serif;
        letter-spacing: 2px;
        display: flex;
        justify-content: flex-start;
        align-content: flex-start;
        span {
          text-transform: uppercase;
          font-weight: 300;
          font-size: 0.7rem;
          margin-left: 1rem;
        }
      }
    }
  }
}

