.landing {
    height: 200vh;
    background-color: #fff;
    .containers {
      margin: 0 auto;
      position: relative;
      .landing-logo {
        position: fixed;
        left: 2rem;
        bottom: 10vh;
        -webkit-writing-mode: vertical-rl;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        font-size: 12px;
        z-index: 1;
        color: #fff;
        mix-blend-mode: difference;
      }
      .text {
        color: #fff;
        letter-spacing: -1px;
        font-weight: 50;
        position: fixed;
        z-index: 1;
        text-align: center;
        mix-blend-mode: difference;
        font-family: "Nanum Myeongjo", serif;
        font-size: 20vh;
        -webkit-writing-mode: vertical-rl;
        writing-mode: vertical-rl;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(180deg);
        cursor: default;
      }
      .landing-about {
        position: fixed;
        left: 80vw;
        right: 2rem;
        bottom: 20vh;
        text-align: right;
        font-size: 12px;
        color: #fff;
        mix-blend-mode: difference;
        z-index: 1;
      }
    }
    .white {
      position: relative;
      background: #fff;
      height: 100vh;
    }
    .black {
      background: #000;
      position: relative;
      height: 100vh;
      width: 100%;
    }
  }
  
  .main-content {
    z-index: 99;
    position: relative;
    .home-end {
      height: 100vh;
      position: relative;
      h1 {
        font-family: "Nanum Myeongjo", serif;
        letter-spacing: -4px;
        font-weight: 50;
        color: #bf0603;
        font-size: 15vh;
        position: absolute;
        left: 0%;
        top: 50%;
        transform: translate(0%, -50%);
        span {
          &::after {
            position: absolute;
            content: "";
            // width: 30%;
            width: 0%;
            transition: width 0.4s;
            transition-timing-function: ease-in-out;
            height: 0;
            background: #000;
            top: 100%;
            left: 0;
            pointer-events: none;
            margin-top: 1rem;
          }
        }
        &:hover {
          span a, .bi-arrow-up-right{
            color: #000 !important;
          }
          span:after {
            height: 2px;
            width: 30%;
            opacity: 1;
          }
          .bi-arrow-up-right{
            border: 1px solid #000;
            border-radius: 50%;
            padding: 0.4rem;
            transform: rotate(45deg);
          }
        }
      }
      .bi-arrow-up-right{
        width: 2rem;
        height:2rem;
        margin-bottom: 2rem;
        margin-left: 2rem;
        // transition: width 0.4s;
        border-radius: 50%;
        transition: .4s;
        transition-timing-function: ease-in-out;
      }
    }
  }
  #projects {
    width: 100%;
    // height: 400px;
    display: grid;
    justify-content: center;
    overflow: hidden;
  
  .grid {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(13,1fr);
    grid-template-rows: repeat(8,1fr);
    grid-gap: 1vw;
    position: relative;
  }
  
  .grid::after {
  content: '';
  height: 6rem;
  width: 1px;
  background: #fff;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  }
  .grid__item {
    background-size: cover;
  background-position: center;
  // width: 300px;
  // height:300px;
  
    opacity: 0;
    // -webkit-filter: brightness(0.7);
    // filter: brightness(0.7);
    object-fit: cover;
    img{
      width: 100%;
  height: auto;
    }
  }
  
  .grid__item--a {
    grid-area: 2 / 1 / 5 / 3;
  }
  
  .grid__item--b {
    grid-area: 6 / 2 / 9 / 5;
  }
  
  .grid__item--c {
    grid-area: 3 / 4 / 7 / 7;
  }
  
  .grid__item--d {
    grid-area: 1 / 8 / 4 / 10;
  }
  
  .grid__item--e {
    grid-area: 4 / 10 / 7 / 14;
  }
  
  .grid__item--f {
    grid-area: 6 / 9 / 9 / 12;
  }
  
  }
  @media only screen and (max-width: 760px) {
    .home-end{
      h1{
        span a, .bi-arrow-up-right{
          color: #bf0603 !important;
        }
        span:after {
          height: 2px !important;
          width: 30%;
          opacity: 1;
        }
        span {
          &::after {
            position: absolute;
            content: "";
            // width: 30%;
            width: 30%;
            transition: width 0.4s;
            transition-timing-function: ease-in-out;
            height: 2px;
            background: #bf0603;
            top: 100%;
            left: 0;
            pointer-events: none;
            margin-top: 1rem;
          }
        }
        .bi-arrow-up-right{
          border: 1px solid #bf0603;
          border-radius: 50%;
          padding: 0.4rem;
          transform: rotate(45deg);
        }
      }
    }
  }