{%extends 'base.html'%} {% load static %} {% block content %}
<div id="about">
  <div class="row">
    <div class="col-md-6 about-left">
      <img alt="lorna" id="about-avatar" />
    </div>
    <div class="col-md-6 about-right">
      <h2>A full-stack software developer with an engineering background focusing on web development and interface design.</h2>
      <p>
        At the crossroads between UX/UI design and front-end development, I aim to create adaptable and responsive
        websites where motion, interaction and design are perfectly integrated to form a unique experience.
        All through my growing years, I maintained a deep sense of curiosity
        about the world. Design has been my way to explore that innate curiosity
        by visualizing and creating meaning and value.
      </p>
      ‍
      <p>
        I have a Bachelor's Degree in Computer Science and a Master's Degree in
        Digital Media. I joined Microsoft in 2016 and during my time at
        Microsoft, I've redesigned, created and invented time management and
        productivity solutions that serve millions of people and helps them
        become more productive. I recently co-founded and co-invented a canvas
        based technology for organizing artifacts around projects and goals.
      </p>
      ‍
      <p>I love to travel, take photos on my phone and design watches.</p>

      <div class="skills">
        <h4 class="subheading">main expertise</h4>
        <p><span>001</span>Web Design</p>
        <p><span>002</span>UI/UX Design</p>
      </div>
      <div class="skills">
        <h4 class="subheading">skillset</h4>
        <p><span>001</span>HTML, CSS, Javascript</p>
        <p><span>002</span>Angular, Figma</p>
      </div>
    </div>
    <!-- <div class="col-md-1"></div> -->
  </div>
  <div class="row about-bottom">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h2>
        Beyond web development and UI/UX design, I enjoy <span class="active">eating</span> (who doesn't?),
        <span>photography</span>, <span>writing</span>, <span>painting</span> and <span>reading</span>.
      </h2>
      <div class="interests-container">
        <div class="interests-counter"><p>01/05</p></div>
        <!-- <div class="interest-desc">
          <p>I particularly love eating out. Some of my favorite restaurants in Nairobi include: <a href="http://" target="_blank" rel="noopener noreferrer">Sierra Burger & Wine</a>, <a href="http://" target="_blank" rel="noopener noreferrer">Tamambo Karen</a> and <a href="http://" target="_blank" rel="noopener noreferrer">Nyef</a></p>
          <p>These are my go to for burgers, seafood and nyef resp.</p>
        </div> -->
        <!-- <div class="interest-desc">
          <p>I recently developed an interest in photography and I'm keen on growing my skills on the same.
          I use the Canon M50 and my favorite subjects to photograph are birds, flowers and food.</p>
          <p>You can follow me on <a href="http://" target="_blank" rel="noopener noreferrer">instagram</a> to keep track of what I'm photographing.</p>
        </div> -->
        <!-- <div class="interest-desc">
          <p>While I haven't written in a hot minute, when I do, I write about my experiences, desires and wild imagination.</p>
          <p>In the meantime, you can have a read of my previous works <a href="http://" target="_blank" rel="noopener noreferrer">here</a></p>
        </div> -->
        <!-- <div class="interest-desc">
          <p>I have always desired to express myself through painting. I work with acrylic and watercolor media. My aim is to do a deep study of flowers and birds.</p>
          <p>I am still very armateur at this but should you be interested in keeping up with my growth in the same, you can follow me on my <a href="http://" target="_blank" rel="noopener noreferrer">instagram.</a></p>
        </div> -->
        <div class="interest-desc">
          <p>Don't you just love a good book on a Sunday afternoon? Well I know I do. I love reading books on psychology and tragic romance.</p>
          <p>Some of my favorites include: The Road Less Traveled (M. Scott Peck), Stumbling on Happiness (Daniel Gilbert), The Happiness Hypothesis (Jonathan Haidt), Flow (Mihaly Csikszentmihalyi), The Great Gatsby (F. Scott Fitzgerald) and Atonement (Ian McEwan) to name a few.</p>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="page-end">
    <h1>let's do something amazing 
      <a href="{% url 'contact' %}">
        <span class="d-block span-hover">get in touch
          <span class="bi bi-arrow-up-right">
            &nearr;
          </span>
        </span>
      </a>
    </h1>
  </div>
</div>
{%endblock%}
