{%extends 'base.html'%} {% load static %} {% block content %}
<div class="container-fluid" id="about">
  <div class="center-aligned">
    <h1 class="page-title">about</h1>
    <div class="d-flex justify-content-start align-content-center mb-5">
      <div>SKILLS</div>
      <div>HTML / CSS / SASS / SCSS / JavaScript / Photoshop / Illustrator</div>
    </div>
    <div class="d-flex justify-content-center align-content-center">
      <div>HELLO</div>
      <div>
        MY NAME IS LORNA KAMAU. I'VE BEEN STUDYING WEB DESIGN AND FRONT-END
        SINCE SEPTEMBER 2020. MY GOAL IS TO BE A DESIGNER AND ENGINEER WHO CAN
        CONTRIBUTE TO OTHERS. BASICALLY I LIKE CREATING COOL DESIGN. I'M NEW AND
        INEXPERIENCED BUT I'LL DO MY BEST. THANKS FOR YOUR TIME.
        MY NAME IS LORNA KAMAU. I'VE BEEN STUDYING WEB DESIGN AND FRONT-END
        SINCE SEPTEMBER 2020. MY GOAL IS TO BE A DESIGNER AND ENGINEER WHO CAN
        CONTRIBUTE TO OTHERS. BASICALLY I LIKE CREATING COOL DESIGN. I'M NEW AND
        INEXPERIENCED BUT I'LL DO MY BEST. THANKS FOR YOUR TIME.
        MY NAME IS LORNA KAMAU. I'VE BEEN STUDYING WEB DESIGN AND FRONT-END
        SINCE SEPTEMBER 2020. MY GOAL IS TO BE A DESIGNER AND ENGINEER WHO CAN
        CONTRIBUTE TO OTHERS. BASICALLY I LIKE CREATING COOL DESIGN. I'M NEW AND
        INEXPERIENCED BUT I'LL DO MY BEST. THANKS FOR YOUR TIME.
      </div>
    </div>
  </div>
  <a href="{% url 'contact' %}"><h2 class="page-end">let's work together</h2></a>
</div>
{%endblock%}
