{%extends 'base.html'%} {% load static %} {% block content %}
<div class="container-fluid" id="about">
  <div class="row contained">
    <div class="col-sm-12">
      <h1>I'M Wanjiru <br> A kenyan front end</h1>
    </div>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-md-3 d-flex">
          <p class="inner-text">I STRIVE TO DEVELOP A THOUGHTFUL,
            FUNCTIONAL AND AESTHETIC DESIGN,
            BASED ON A STRATEGIC APPROACH.</p>
        </div>
        <div class="col-md-9">
          <h1>developer <br>
            I FOCUS MY WORK ON  </h1>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <h1>BRANDING AND <br> INTERFACE DESIGN.</h1>
    </div>
  </div>
  <div class="row contained">
    <div class="col-md-5"></div>
    <div class="col-md-7 more-about">
      <p>
        I enjoy blah blah blah. I especially enjoy Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus accusantium maiores minus ea unde aspernatur eveniet totam atque tenetur. Rerum quod praesentium consequatur nesciunt temporibus? Minus eos blanditiis dicta ipsa?
      </p><br>
      <p>
        I enjoy blah blah blah. I especially enjoy Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus accusantium maiores minus ea unde aspernatur eveniet totam atque tenetur. Rerum quod praesentium consequatur nesciunt temporibus? Minus eos blanditiis dicta ipsa?
      </p><br>
      <p>
        I enjoy blah blah blah. I especially enjoy Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus accusantium maiores minus ea unde aspernatur eveniet totam atque tenetur. Rerum quod praesentium consequatur nesciunt temporibus? Minus eos blanditiis dicta ipsa?
      </p>
    </div>
  </div>
  <div class="row socials">
    <div class="col-sm-12 d-flex">
      <span class="social-head">find me</span>
      <a href="#" target="_blank" rel="noopener noreferrer"><span>nstgrm.</span></a>
      <a href="#" target="_blank" rel="noopener noreferrer"><span>lnkdn.</span></a>
      <a href="#" target="_blank" rel="noopener noreferrer"><span>gthub.</span></a>
    </div>
  </div>
</div>
{%endblock%}
