{%extends 'base.html'%} {% load static %} 
{% block content %}
<div class="landing">
  <div class="containers">
    <div class="landing-logo">kitu kidogo</div>
    <span class="text">Wanjiru Kamau</span>
    <div class="landing-about">
      <p>Nairobi, Kenya</p>
      <br><br>
      <p>A fullstack software developer who loves abc dkf fjifbg. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, animi?</p>
    </div>
  </div>
  <div class="white"></div>
  <div class="black"></div>
</div>
<div class="main-content">
  <div id="projects">
    <h2>Select Work</h2>
    <p class="p-heading">MOST RECENT PROJECT</p>
    <div class="most-recent">
      <div class="grid">
        <div class="grid__item grid__item--d">
          <img  id="image4"></img>
        </div>
        <div class="grid__item grid__item--a">
          <img id="image1"></img>
        </div>
        <div class="grid__item grid__item--c">
          <img  id="image3"></img>
        </div>
        <div class="grid__item grid__item--e">
          <img  id="image5"></img>
        </div>
        <div class="grid__item grid__item--b">
          <img  id="image2"></img>
        </div>
        <div class="grid__item grid__item--f">
          <img  id="image6"></img>
        </div>
     </div>
     <div class="project-title">
       <p>2021</p>
       <h1>Florence</h1>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, corrupti.</p>
     </div>
    </div>
    <div class="other-projects">
      <p class="p-heading">OTHER PROJECTS</p>
      <div class="row">
        <div class="col-md-5 project-card">
          <div class="project-mask">
            <p>something app</p>
            <h1>The Telegram<span>2020</span></h1>
          </div>
          <div class="project-image">          
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5 project-card">
          <div class="project-mask">
            <p>something app</p>
            <h1>The Telegram<span>2020</span></h1>
          </div>
          <div class="project-image">          
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5 project-card">
          <div class="project-mask">
            <p>something app</p>
            <h1>The Telegram<span>2020</span></h1>
          </div>
          <div class="project-image">          
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5 project-card">
          <div class="project-mask">
            <p>something app</p>
            <h1>The Telegram<span>2020</span></h1>
          </div>
          <div class="project-image">          
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-end">
    <h1>let's do something amazing 
      <a href="{% url 'contact' %}">
        <span class="d-block span-hover">get in touch
          <span class="bi bi-arrow-up-right">
            &nearr;
          </span>
        </span>
      </a>
    </h1>
  </div>
</div>

{%endblock%}
